dlib-19.24.99-cp312-cp312-win_amd64.whl
flask==2.3.2
flask-sqlalchemy==3.0.5
flask-bcrypt==1.0.1
flask-wtf==1.1.1
flask-login==0.6.2
numpy==1.25.2
scipy==1.11.3
opencv-python==4.8.0.76
gunicorn==20.1.0
